.container {
  background: lightblue;
  -webkit-box-shadow: 0px -7px 77px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -7px 77px -14px rgba(0,0,0,0.75);
  box-shadow: 0px -7px 77px -14px rgba(0,0,0,0.75);
  width: 1400px;
  margin: 0 auto;
}
.apphead {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
.mathematicaloperations {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-align: left;
  padding: 20px 0;
  text-transform: uppercase;
}
.firstNumb {
  font-family: 'Lato', sans-serif !important;
  font-size: 20px !important;
  text-align: center;
  height: 40px !important;
}
.secondNumb {
  text-align: center;
  font-family: 'Lato', sans-serif !important;
  font-size: 20px !important;
  height: 40px !important;
}
.result {
  text-align: center;
  font-family: 'Lato', sans-serif !important;
  font-size: 18px !important;
  height: 40px !important;
}
.errorClass {
  border:2px solid red !important;
}
.hiddenField {
  display: none;
  position: absolute;
  margin-top: -25px;
  text-align: center;
  margin-left: 130px;
  transition: all ease-in 450ms;
}
.fieldsCalc {
  display: none;
}
.button {
  background: lightcyan !important;
  width: 190px;
  color: #000000  !important;
}
.showInputsSqrt {
  text-transform: uppercase;
  font-weight: 700;
}
.clearInputsBtn  {
  margin: 15px auto !important;
}
.showInputns {
  cursor: pointer;
}
.hideClass{
  display: none;
}
.showInputns {
  text-transform: uppercase;
  font-weight: 700;
}
.potega  {
  padding: 17px !important;
}